<?php

//Mage::getModel('modman/modules')->_initKnownHosts();
$git_version = $this->_getGitStatus();
$modman_version = $this->_getModmanStatus();
$test=false;

?>
<div class="content-header">
<table cellspacing="0">
    <tbody><tr>
        <td style="width:50%;"><h3 class="icon-head head-modman"><?php echo $this->__('Highdigital modman integration modul') ?></h3></td>
        <td class="a-right">     
            <?php if(Mage::getModel('modman/modules')->publicKeyExits()):?>
            <button title="show publickey" type="button" class="scalable add" onclick="setLocation('<?php echo $this->getUrl('*/*/spk/') ?>')" style=""><span><span><span><?php echo $this->__('show PublicKey') ?></span></span></span></button>        
        	<?php else: ?>
        	<button title="Init" type="button" class="scalable add" onclick="setLocation('<?php echo $this->getUrl('*/*/init/') ?>')" style=""><span><span><span><?php echo $this->__('init PublicKey') ?></span></span></span></button>        
        	<?php endif ?>
            <?php if(Mage::getModel('modman/modules')->sshConfigExits() == false):?>
                <button title="Set SSH config" type="button" class="scalable add" onclick="setLocation('<?php echo $this->getUrl('*/*/setsshconfig/') ?>')" style=""><span><span><span><?php echo $this->__('Set SSH config file') ?></span></span></span></button>
            <?php endif ?>
        </td>
    </tr>
</tbody></table>
</div>
<?php if(!Mage::getModel('modman/modules')->publicKeyExits()):?>

    <button title="Create Keys" type="button" class="scalable" onclick="setLocation('<?php echo $this->getUrl('*/*/new/') ?>')" style=""><span><span><span><?php echo $this->__('create private and pubkey') ?></span></span></span></button>
    <br /><br/>
<?php endif ?>
<?php if(!Mage::getModel('modman/modules')->getGithubKeyExists()):?>

    <button title="Add to Github" type="button" class="scalable" onclick="setLocation('<?php echo $this->getUrl('*/*/addkey/') ?>')" style=""><span><span><span><?php echo $this->__('Add Key to github') ?></span></span></span></button>
    <br /><br/>
<?php endif ?>

<?php if($this->getRequest()->getParam('showPK')): ?>
<div style="width:80%;word-wrap: break-word;"><?php

    echo(file_get_contents(Mage::getModel('modman/modules')->publicKeyPath()));


    ?></div>
<br />
<br />
<?php endif ?>

<?php if (!empty($modman_version)): ?>
    <button title="InitProject" type="button" class="scalable" onclick="setLocation('<?php echo $this->getUrl('*/*/initproject/') ?>')" style=""><span><span><span><?php echo $this->__('Init / Update complete project') ?></span></span></span></button>
    <br />
    <br />
<?php endif ?>

<button title="convert welance repos" type="button" class="scalable" onclick="setLocation('<?php echo $this->getUrl('*/*/convertrepo/') ?>')" style=""><span><span><span><?php echo $this->__('convert all highdigital repsitories') ?></span></span></span></button>
<br />
<br />

<!-- GIT -->
<?php if (!empty($git_version)): ?>
<p><?php echo $this->__('current:')?> <?php print_r($git_version) ?></p>
<?php else: ?>
<p><?php echo $this->__('git is not installed') ?> <a href="<?php echo $this->getUrl('*/*/gitinit/')?>" >install git</a></p>
<?php endif ?>	
<!-- MODMAN -->
<?php if (!empty($modman_version) && is_dir(Mage::getBaseDir('base').'/.modman')): ?>
<p><?php echo $this->__('current:')?> <?php print_r($modman_version[0]) ?></p>
<?php else: ?>
<p><?php echo $this->__('modman is not installed') ?> <a href="<?php echo $this->getUrl('*/*/modmaninit/')?>" >install modman</a></p>
<?php endif ?>	
