<?php 

$modul = $this->getModmanModul();

?>
<div class="content-header">
    <h3 class="icon-head head-modman"><?php echo $this->__('Add new Modul') ?></h3>    
    <div class="content-buttons-placeholder">
	    <p class="content-buttons form-buttons">
	    	<button  title="Back" type="button" class="scalable back" onclick="setLocation('<?php echo $this->getUrl('*/*/') ?>')" style=""><span><span><span><?php echo $this->__('Back') ?></span></span></span></button>
	    	<button title="Reset" type="button" class="scalable " onclick="setLocation(window.location.href)" style=""><span><span><span><?php echo $this->__('Reset') ?></span></span></span></button>
	    	<button  title="Delete Modul" type="button" class="scalable delete" onclick="confirmDelete()" style=""><span><span><span><?php echo $this->__('Delete') ?></span></span></span></button>
	   		<button  title="Save Modul" type="button" class="scalable save" onclick="editForm.submit();" style=""><span><span><span><?php echo $this->__('Save Modul') ?></span></span></span></button>
	   		<button  title="Save Modul and deploy" type="button" class="scalable save" onclick="saveAndMore('<?php echo $this->getUrl('*/*/save/deploy/1') ?>');" style=""><span><span><span><?php echo $this->__('Save Modul and deploy') ?></span></span></span></button>
	    </p>
    </div>
</div>
<form action="<?php echo $this->getUrl('*/*/save/') ?>" method="post" id="edit_form">
    <div class="entry-edit">
    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Modul remote repository') ?></h4>
    <div class="form-buttons"></div>
	</div>
	    <div class="fieldset " id="base_fieldset">
	    	<div class="hor-scroll">
				<table cellspacing="0" class="form-list">
					<tbody>
						<tr>
					        <td colspan="2" class="hidden">
					        	<input type="hidden" name="form_key" value="<? echo Mage::getSingleton('core/session')->getFormKey(); ?>" /> 
					        	<input type="hidden" name="resource_id" value="<?php echo $modul->getResourceId() ?>" /> 
					        	<input id="store_id" name="store_id" value="1" type="hidden">
					        </td>
					    </tr>
						<tr>
					        <td class="label"><label for="modman_name"><?php echo $this->__('Modman modulname') ?><span class="required">*</span></label></td>
							<td class="value">
								<input id="modman_name" name="modman_name" value="<?php echo $modul->getModmanName() ?>" title="Modul Name" type="text" class=" input-text required-entry">
							</td>
					    </tr>
						<tr>
					        <td class="label"><label for="sort_order"><?php echo $this->__('Sort order') ?></label></td>
							<td class="value">
								<input id="sort_order" name="sort_order" value="<?php echo $modul->getSortOrder() ?>" title="<?php echo $this->__('Sort order') ?>" type="text" class=" input-text">
							</td>
					    </tr>
						<tr>
					        <td class="label"><label for="git_clone_url"><?php echo $this->__('Remote Repository') ?></label></td>
							<td class="value">
								<input id="git_clone_url" name="git_clone_url" value="<?php echo $modul->getGitCloneUrl() ?>" title="<?php echo $this->__('Remote Repository') ?>" type="text" class=" input-text">
							</td>
					    </tr>
						<tr>
					        <td class="label"><label for="git_branch"><?php echo $this->__('Branch') ?></label></td>
							<td class="value">
								<input id="git_branch" name="git_branch" value="<?php echo $modul->getGitBranch() ?>" title="<?php echo $this->__('Branch') ?>" type="text" class=" input-text">
							</td>
					    </tr>
					</tbody>
				</table>
	        </div>
	    </div>
	</div>
</form>
<script type="text/javascript">
    var editForm = new varienForm('edit_form', '');
</script>
<script type="text/javascript">
    function saveAndMore(url) {
        var modulForm = new varienForm('edit_form');
        modulForm.submit(url);
    }
    function confirmDelete(){
    	var answer = confirm("<?php echo $this->__('Attention, the local files will be deleted. Continue?'); ?>")
		if (answer){
			window.location = '<?php echo $this->getUrl('*/*/delete/id/'.$modul->getResourceId()) ?>';
		}
		else{
			return false;
		}
    }
</script>