<div class="content-header">
    <table cellspacing="0">
        <tbody><tr>
            <td style="width:50%;"><h3 class="icon-head head-adminhtml-modman">Modman Config Info</h3></td>
           </tr>
        </tbody>
    </table>
</div>
<div class="info-box">
    <p>Symlinks sind <?php (Mage::app()->getConfig('dev/template/allow_symlink')?"":"nicht") ?> erlaubt. <a href="<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/system_config/edit/section/dev') ?>" >ändern</a>?</p>
</div>